body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-image: url("Background_1_A.jpg");
    margin: 15px;
    margin-top: 0;
}

section {
    border-bottom: 2px solid rgb(70, 70, 70);
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#content {
    background-color: #c9c8da;
    width: 85%;
    margin: auto;
    padding-top: .1rem;
    box-shadow: 4px 3px 5px black;
}

h1{
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    margin-top: 25px;
    margin-bottom: 10px;
}


h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

h1:hover {

}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgb(41, 41, 41);
}

p {
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#poem{
    width: 100%;
    text-align: center;
}

table,th,td {
    border: 1px solid black;
    text-align: center;
    background-color: #eeeeee;
}
td{
    width: 16.67%;
    padding: 3px;
    margin: 3px
    ;
}

.phil{
    background-color: #bdb8ff;
}

.net{
    background-color: #ff0000;
}

.web{
    background-color: #00ff00;
}

.alg{
    background-color: #aaaaaa;
}